* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px; 
  font-size: 2.5vh;
  border-bottom: 2px solid;
}

.header-left, .header-right{
  margin: 0; 
}

img{
  height: 60vh;
  width: auto;
  position: absolute;
  left: 3%;
  top: 12vh;
}

h1{
  position: absolute;
  left: 90vh;
  font-size: 12vh;
  text-align: right;
  right: 4vw;
  bottom: 30vw;
}

h2{
  font-size: 6vh;
  width: auto;
  height: 5vh;
  letter-spacing: .2%;
  position: absolute;
  top: 35vh;
  right: 4vw;
}

#description{
  font-size: 3vh;
  width: 40vw;
  height: auto;
  position: absolute;
  top: 45vh;
  right: 4vw;
  text-align: right;
}

.line{
  height: .3vh;
  width: 100%;
  background-color: black;
  top: 80vh;
  position: absolute;
}

#education{
  font-size: 7vh;
  width: 40vw;
  height: auto;
  position:absolute;
  top: 80vh;
  left: 7vw;
  letter-spacing: .2%;
}

#Technology{
  font-size: 4vh;
  width: 40vw;
  height: auto;
  position:absolute;
  top: 93vh;
  left: 7vw;
  letter-spacing: .2%;
}

#skills{
  font-size: 7vh;
  width: 40vw;
  height: auto;
  position:absolute;
  top: 100vh;
  left: 7vw;
  letter-spacing: .2%;
}

ol{
  width: 40vh;
  height: auto;
  position:absolute;
  top: 115vh;
  font-size: 4vh;
  left: 5vw;
}

#experience{
  font-size: 7vh;
  width: 40vw;
  height: auto;
  position:absolute;
  top: 80vh;
  left: 55vw;
  letter-spacing: .2%;
}

#no{
  width: 40vw;
  height: auto;
  position:absolute;
  top: 93vh;
  font-size: 4vh;
  left: 55vw;
}

#RS{
  height: 15vh;
  width: auto;
  position: absolute;
  left: 55%;
  border-radius: 50%;
  top: 135vh;
}

#information{
  font-size: 7vh;
  width: 40vw;
  height: auto;
  position:absolute;
  top: 100vh;
  left: 55vw;
  letter-spacing: .2%;
}

ul{
  width: 40vw;
  height: auto;
  position:absolute;
  top: 115vh;
  font-size: 4vh;
  right: 6vh;
}
